<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>zipcodeloader</title>
<link  href="css/main.css" type="text/css" rel="stylesheet"rel="stylesheet" >
<script type="text/javascript">	
</script>
</head>
<body>
<h1>日本のzipcodeloader</h1>
<h2>ファイルのアップロード</h2>
<form method="POST" action="">
    <input type="text"
         name="query"
         size="45">
    <input type="submit" value="検索" />
</form>
{% if zipdetail %}
{% ifnotequal zipdetail.length 0 %}
<h2>{{query}}</h2>
<table>
{% for detail in zipdetail %}
<tr>
<td>{{detail.code.code}}</td>
<td>{{detail.code.pref}}</td>
<td>{{detail.code.city}}</td>
<td>{{detail.code.street}}</td>
</tr>
{% endfor%}
</table>
{% endifnotequal %}
{% endif%}
</body>
</html>
